:root {
    --darkBlue: #222831;
    --lightBlue: #30475E;
    --orange: #FF7000;
    --grey: #ECECEC;
    --title: #FF7F50;
    --badge: #DC3545;
    --logout: #A52A2A;
}

* {
* {
    font-family: "Noto Serif", serif;
}

td,
th {
    color: var(--lightBlue) !important;
}

.fondo-azul {
    background-color: var(--darkBlue);
}

.fondo-azul-claro {
    background-color: var(--lightBlue);
}

.logout {
    background-color: var(--logout);
}

.bg-title {
    background-color: var(--title);
}

.bg-orange {
    background-color: var(--orange);
}

.orange-button {
    background-color: var(--orange);
    border-color: var(--orange);
}

.bg-grey {
    background-color: var(--grey);
}

.orange-button:hover {
    background-color: var(--lightBlue);
    border-color: var(--lightBlue);
}

li:hover {
    background-color: white;
}

li:hover a,
li:hover i {
    color: var(--lightBlue) !important;
}

.text-light-blue {
    color: var(--lightBlue) !important;
}

.activo {
    background-color: var(--grey);
    color: var(--darkBlue) !important;
    border: 1px solid var(--lightBlue) !important;
    border-left: none !important;
}

.activo a {
    color: var(--darkBlue)
    color: var(--darkBlue)
}

.no-hover:hover {
    background-color: var(--darkBlue);
    color: white !important;
}

.no-hover:hover i {
    color: white !important;
}

.activo-2 {
    background-color: var(--lightBlue) !important;
    border: 1px solid var(--lightBlue);
    color: white !important;
}

#dropdown {
    display: none;
}


@media only screen and (max-width: 1199px) {

    nav {
        display: none;
        top: 5.7em;
    }

    .show {
        border-top: 1px solid white;
        position: absolute;
        display: block;
        width: 100%;
        max-height: calc(100vh - 5.7em);
        animation: slideDown 0.4s ease-in-out;
        z-index: 5;
    }

    #logo {
        width: 5em;
    }

    /*Taula responsive*/

    th {
        display: none;
    }

    td {
        display: block;
    }

    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
        text-transform: capitalize;
    }

    td[data-no-colon="true"]::before {
        content: "";
    }

    /*********** DESPLAZAMIENTO DEL MENÚ ***********/
    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }


}