:root{
    --darkBlue: #222831;
    --lightBlue: #30475E;
    --orange: #FF7000;
    --grey: #ECECEC;
    --darkBlue: #222831;
    --lightBlue: #30475E;
    --orange: #FF7000;
    --grey: #ECECEC;
    --title: #FF7F50;
    --badge: #DC3545;
    --logout: #A52A2A;
}

* {
* {
    font-family: "Noto Serif", serif;
    color: var(--lightBlue);
    color: var(--lightBlue);
}


td, th{
    color: var(--lightBlue) !important;
}

.fondo-azul{
    background-color: var(--darkBlue) !important;
}


.fondo-azul-claro{
    background-color: var(--lightBlue);
    background-color: var(--lightBlue);
}

.logout{
    background-color: var(--logout);
}

.bg-title{
    background-color: var(--title);
}

.bg-orange{
    background-color: var(--orange);
    background-color: var(--orange);
}

.orange-button{
    background-color: var(--orange);
    border-color: var(--orange);
    background-color: var(--orange);
    border-color: var(--orange);
}

.bg-grey {
    background-color: var(--grey);
.bg-grey {
    background-color: var(--grey);
}

.orange-button:hover{
    background-color: var(--lightBlue);
    border-color: var(--lightBlue);
    background-color: var(--lightBlue);
    border-color: var(--lightBlue);
}

.orange-button-login:hover {
    background-color: #FF7F50;
    border-color: #FF7F50;
}
li:hover{
    background-color: white;
}

li:hover a,
li:hover i{
    color: var(--lightBlue) !important;
    color: var(--lightBlue) !important;
}

.text-light-blue{
    color: var(--lightBlue) !important;
    color: var(--lightBlue) !important;
}

.activo{
    background-color: var(--grey);
    color: var(--darkBlue) !important;
    border: 1px solid var(--lightBlue) !important;
    background-color: var(--grey);
    color: var(--darkBlue) !important;
    border: 1px solid var(--lightBlue) !important;
    border-left: none !important;
}

.activo a {
    color: var(--darkBlue)
    color: var(--darkBlue)
}

.no-hover:hover{
    background-color: var(--darkBlue);
    background-color: var(--darkBlue);
    color: white !important;
}

.no-hover:hover i{
    color: white !important;
}

.activo-2{
    background-color: var(--lightBlue) !important;
    border: 1px solid var(--lightBlue) !important;
    color: white !important;
}


#pagination li {
    cursor: pointer;
}

.outline-orange{
    color: var(--orange);
    border-color: var(--orange);
    background-color: transparent;
}

.outline-orange:hover{
    background-color:var(--orange);
    color: white;
    border-color: var(--orange);
}

.outline-blue{
    color: var(--lightBlue);
    border-color: var(--lightBlue);
    background-color: transparent;
}

.outline-blue:hover{
    background-color:var(--lightBlue);
    color: white;
    border-color: var(--lightBlue);
}




@media only screen and (max-width: 1199px)
{

    #logo {
        width: 5em;
    }

    /*Taula responsive*/

    th{
        display: none;
    }

    .m-customized{
        margin-top: 5.8em;
    }

     /*Taula responsive*/

     th{
        display: none;
    }

    td{
        display: block;
    }

    td::before{
        content: attr(data-cell) ;
        font-weight: 700;
        text-transform: capitalize;
    }

    td[data-no-colon="true"]::before {
        content: ""; 
    }

}