:root{
    --blauFosc: #222831;
    --blauClar: #30475E;
    --taronja: #FF7000;
    --gris: #ECECEC;
    --title: #FF7F50;
    --badge: #DC3545;
    --logout: #A52A2A;
}

body{
    font-family: "Noto Serif", serif;
}

td, th{
    color: var(--lightBlue) !important;
}

/********* BARRA LATERAL CON BOOTSTRAP *********/
.fondo-azul{
    background-color: var(--blauFosc);
}
.fondo-azul-claro{
    background-color: var(--blauClar);
}

.logout{
    background-color: var(--logout);
}

.bg-title{
    background-color: var(--title);
}

.bg-orange{
    background-color: var(--taronja);
}

.bg-grey {
    background-color: var(--gris);
}

.orange-button{
    background-color: var(--taronja);
    border-color: var(--taronja);
}

.cursor-pointer{
    cursor: pointer;
}

.orange-button:hover{
    background-color: var(--blauClar);
    border-color: var(--blauClar);
}

li:hover{
    background-color: white;
}

li:hover a,
li:hover i{
    color: var(--blauClar) !important;
}

.text-light-blue{
    color: var(--blauClar) !important;
}

.text-orange{
    color: var(--taronja) !important;
}

.activo{
    background-color: var(--gris);
    color: var(--blauFosc) !important;
    border: 1px solid var(--blauClar) !important;
    border-left: none !important;
}

.activo a {
    color: var(--blauFosc)
}

.no-hover:hover{
    background-color: var(--blauFosc);
    color: white !important;
}

.no-hover:hover i{
    color: white !important;
}

.activo-2{
    background-color: var(--blauClar) !important;
    border: 1px solid var(--blauClar);
    color: white !important;
}

@media only screen and (max-width: 1199px)
{

    nav{
        display: none;
        top: 5.7em;
    }

    .show{
        border-top: 1px solid white;
        position: absolute;
        display: block;
        width: 100%;
        max-height: calc(100vh - 5.7em);
        animation: slideDown 0.4s ease-in-out;
        z-index: 5;
    }

    #logo {
        width: 5em;
    }

    

    /*********** DESPLAZAMIENTO DEL MENÚ ***********/
    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }


}